doctype html
html(lang='en')
head
  include ./head/head.jade
body
  include ./body/header.jade

  include ./body/playing.jade

  include ./body/song_container.jade
  
  .a2a_kit
    a.a2a_button_google_plus_share
  script(async src="//static.addtoany.com/menu/page.js")