header.header.relative.border-bottom
  .logo
    .wrap.center-block
      figure.image.isotipo.left
        img(src='img/logo.png', alt='Sfotipy')
      .user.right
        figure.avatar.round.left
          img(src='img/avatares/yo.png', alt='@juandc', width='38px', height='38')
        span.left.username @juandc
      .search.right
        form.relative(action='')
          span.icon-search.search-icon
          input.input(type='text', placeholder='Juandc')
          span.close-icon x
  a.button-menu.icon-menu(href='')
  nav.menu
    ul.list.center-block.wrap
      li.item
        a(href='#') Top Hits
      li.item
        a(href='#') Profile
      li.item
        a(href='#') Settings
      li.item
        a(href='') Playlist
  .title
    span
      b Top hits