section#guitarras.guitarras.contenedor
  h2 Nuestras guitarras

  .videos
    .video-contenedor
      iframe.video(width="560" height="315" src="https://www.youtube.com/embed/qqZojEcpKWg" frameborder="0" allowfullscreen)

  article.guitarra.a
    img.right(class="b-lazy" data-src='./images/invie-acustica.png|images/invie-acustica2x.png', class="square" alt='Guitarra Invie Acustica')
    .content-guitarra-a
      h3.titulo3 Invie Acustica
      ol
        li Estilo vintage
        li Madera pura
        li Incluye estuche inviesible de aluminio

  article.guitarra.b
    img.left(class="b-lazy" data-src='images/invie-classic.png|images/invie-classic2x.png', height='', width='250', alt='Guitarra Invie Classic')
    .content-guitarra-b
      h3.titulo3.last Invie Rock
      ol
        li Estilo vintage
        li Pesada
        li Inicia tu camino como Rockstar

  article.guitarra.c
    img.right.large(class="b-lazy" data-src='images/invie-rock.png|images/invie-rock2x.png', height='', width='', alt='Guitarra Invie Rock')
    .content-guitarra-c
      h3.titulo3.last Invie Classic
      ol
        li Estilo vintage
        li Liviana
        li Color madera claro y oscuro