section#portada.portada.background
  header#header.header.contenedor
    figure.logotipo
      img(src='images/invie.png', srcset="images/invie.png 1x, images/invie2x.png 2x", width='186', height='60', alt='Invie - Logotipo')

    span#burguer-button.burguer-button.icon-menu

    nav#menu.menu
      ul
        li
          a(href='/') Home
        li
          a(href='/#guitarras') Guitarras
        li
          a(href='precios.html') Precios

  block titulo-header
    .titulos.contenedor
      h1.titulo1
        | Guitarras 
        span invie
        | sibles
      h3.titulo2 Sé la estrella de rock que siempre imaginaste ser
      .button-container
        a.button(href='/#guitarras') Guitarras
