section.tabla
  .contenedor.table-content
    table
      thead
        tr
          th Modelo
          th Precio
          th Colores
          th Descripción
          th Material
          th Dificultad
          th Guitarras Disponibles
      thead
        tr
          td Invie Acustica
          td $150
          td Madera claro
          td
            | Una guitarra muy 
            i Acustica
          td Madera
          td Intermedio
          td Todas
        tr
          td Invie Classic
          td $200
          td Madera claro y oscuro
          td
            | Una guitarra muy 
            i Classica
          td Madera
          td Intermedio
          td Todas
        tr
          td Invie Rock
          td $250
          td Negra, blanca, Azúl y Rojo
          td
            | Una guitarra muy 
            i Roquera
          td Madera
          td Difícil
          td 50% Aprox