meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
title Sfotipy
link(rel='stylesheet', href='css/estilos.css')
link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
link(href="../img/favicon.png", rel="shortcut icon")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")