@media screen and (min-width:769px)
  body
    background-color gris_mas_claro
  .button-menu
    display none
  .playing
    padding-top 1.3em
    &.large
      margin 0 auto
      width 62.5em
      overflow hidden
  .menu
    display block
    background-color gris_mas_claro
    overflow hidden
    border-top 1px solid gris_claro
    .item
      float left
      list-style none
      a
        padding 1em
        color gris_oscuro
        text-transform uppercase
        cursor pointer
        display block
        border-top 5px solid transparent
        &:hover
          border-top 5px solid gris_claro
  .music
    width 32.5em
    float left
    .description
      display none
  .header
    height auto
    border none
    .title
      display none
  .logo
  .playlist
    display block
  .a2a_button_google_plus_share
    top 8em